/* ------Default Styles -------- */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #5c636e;
    color: #fff;
}

/* ------ Heading  Styles -------- */

#header {
    background: #303841;
    height: 140px;
    width: 100%;
}

.logo {
    width: 140px;
}

.container {
    padding: 10px 10%  
}

nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    position: relative;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffde59;
}

/* ------ Blog Posting Styles -------- */

#blogs {
    padding: 30px 0;
}

.row {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 50px;
}

.row,
.column {
    background: #5c636e;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    padding: 40px;
    transition: all 0.5s, transform 0.5s;
}

.row,
.column h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;   
}

.column {
    background: #f7f7f7;
}

.column:hover {
    background: #ffde59;
}

/*----------- Footer Section-------------*/

.footer {
    background-color: #303841;
    bottom: 0;
    color: white;
    height: 60px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.social-icons {
    padding-top: 15px;
}

.social-icons a {
    color: #ababab;
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
    text-decoration: none;
    transition: transform 0.5s
}

.social-icons a:hover {
    color: #ffde59;
    transform: translateY(-5px);
}


